@using doantn.ViewModel
@model TrangChuViewModel
@{
    ViewData["Title"] = "Ebook mới";
}

<div class="category-header">
    <div class="category-title">Những ebook mới được cập nhật</div>
    <div class="breadcrumb">
        <a href="/">Trang chủ </a>
        <span class="breadcrumb-separator">/</span>
        <span class="breadcrumb-current">Ebook mới</span>
    </div>
</div>
<div>
    <div class="book-grid1">
        @foreach (var book in Model.EbookMoi)
        {
            <a asp-controller="Sach" asp-action="ChiTiet" asp-route-maSach="@book.MaSach" class="book-card1" data-masach="@book.MaSach">
                <img src="@book.Anh" alt="@book.TenSach" />
                <div class="book-stats1">
                    <span class="views1">
                        <i class="fa fa-eye"></i> @book.LuotXem xem
                    </span>
                    <span class="downloads1">
                        <i class="fa fa-download"></i> @book.LuotTai
                    </span>
                </div>
                <div class="book-label1">@book.TenLoai</div>
                <h4 class="book-title1">@book.TenSach</h4>

                <div class="book-hover-info">
                    <div class="hover-content">
                        <div class="hover-left">
                            <img class="hover-img" src="" alt="Ảnh sách" />
                        </div>
                        <div class="hover-right">
                            <h3 class="hover-title">Tên sách</h3>
                            <div class="hover-author">Tác giả: <span class="hover-author-name"></span></div>
                            <div class="hover-stats">
                                <div class="stat-button view">
                                    <i class="fa fa-eye"></i> <span class="hover-luotxem">0</span>
                                </div>
                                <div class="stat-button download">
                                    <i class="fa fa-download"></i> <span class="hover-luottai">0</span>
                                </div>
                            </div>
                            <div class="hover-rating">
                                <span class="rating-star"><span class="hover-trungbinhsao">1</span><i class="fa fa-star"></i> </span>
                                <span class="rating-count">( <span class="hover-soluongdanhgia">1</span> đánh giá )</span>
                            </div>
                            <p class="hover-description">Giới thiệu sách...</p>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>
@section Styles {
    <link rel="stylesheet" href="~/css/sachchitiet.css" />
    <link rel="stylesheet" href="~/css/danhsachsach.css" />
    <link rel="stylesheet" href="~/css/popuo.css" />
}
<script src="~/js/popup.js"></script>
